body {
  background: #efb771;
  color: #363232;
  font-family: "Futura";
  line-height: 200%;
  flex-direction: column;
  margin: 0 auto;
  font-size: 16px;
}

.container {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 0 auto;
  text-align: justify;
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 8px;
  background: #6c919c;
  z-index: 10000;
}

.percentage {
  position: fixed;
  color: #3b545c;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
}

@media (min-width: 576px) {
  .container {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 40%;
    font-size: 18px;
  }
}
